
form{
	background-color:#BFBFBF;
	padding:10px;
	font-family:Philosopher-Italic;
	width:97%;
	margin-left:10px;
	margin-top:8px;
}

form, input, button{
	font-family:Philosopher-Italic;
}

ul.pestaña{

	background:#F3F1F2;
	display:flex;
	margin-left:-10px;
	margin-top:-10px;
	width:1165px;
	}

ul.pestaña li{
	list-style:none;
		width:1165px;
		margin-left:0px;
	margin-top:-10px;

	}
ul.pestaña li a{
	color:#0A0A0C;;
	text-decoration:none;
	font-size:18px;
	text-align:center;
	display:block;
	padding:5px 0px;
	}

.active{
background:#BFBFBF;


	}

h1{
	background:#5C6B8C;
	color:#F3F1F2;
	font-size:1.5em;
	margin-left:5px;
	margin-bottom:1px;
	padding:5px;
	}

.contenido{
	margin:0;

		}

		.contenido ul{
			line-height: 27px;

			}

.contenido li{
	margin:5px;
	float:left;
	list-style:none;

	}



fieldset{
	background:#F3F1F2;
	border:2px #2B313F outset;
	margin-top:10px;
	margin-left:-5px;
	width:1150px;

	}

#fsleyenda{
	padding:0px;


	}

#fsleyenda h2{
	background:#5C6B8C;
	color:#F3F1F2;
	font-size:1.5em;
	margin-left:5px;
	margin-bottom:10px;
	padding:5px;
	}

	.dvbtnguardar{
		text-align:center;
		position:relative;

		}

#txtnumdocumento, #txtnumdocparticular{
width:80px;

}

#txtactrealizada, #txtactrealizadaparticular{
	width: 400px;
}

#txtnomapelparticular{
		width: 470px;
}

#txtgrado{
	width: 50px;
}



#btncertificado, #btncertparticular, #btnlimpiar, #btnenviar{
		padding:3px 10px;
		font-size:1em;
		background-color:#2B313F;
		color:#F3F1F2;
		-webkit-transition: background-color .25s;
		border:0px;
						-webkit-border-radius:5px;
		-webkit-box-shadow: 0px 1px 0px #0A0A0C;
		-moz-border-radius:5px;
		margin-top: 5px;

		}

#btncertificado:hover, #btncertparticular:hover, #btnlimpiar:hover, #btnenviar:hover{

			background-color: #5C6B8C;
			color:#F3F1F2;
			cursor:pointer;
			-webkit-box-shadow: 0px 1px 0px #F3F1F2;
			}


p{
	text-align:right;


	}



#fsleyenda .contenido .anexos{
	margin-top:-10px;
 width:1140px;
 height:180px;
 padding-bottom:20px;

 /*centrado*/
	display:flex;
 flex-direction:row;
 flex-wrap:wrap;
justify-content:center;
 align-items:center;

	}


.dvfondobtn{
	margin-top: 10px;
	width:250px;
	height:37px;
	background:#2B313F;
	color:#F3F1F2;
	padding:2px;
	position:relative;
	text-align:center;
	margin-left:10px;
    float:left;
}

.input-label{
	color:#F3F1F2 ;
	font-size:20px;
	transition:0.3s;
	}

.dvfondobtn:hover{
	background:#5C6B8C;
	cursor:pointer;

	}

.anexo .fa{
	margin-right:10px;
	}

.flanexo{
	display:none;
	}

.nomarchivo{
		font-size:12px;


}
